<nav class="navbar navbar-expand-lg navbar-light bg-primary static-top mb-5 shadow-lg ">
    <div class="container">
        <a class="navbar-brand" href="/">
            <h1 class="text-white bg-secondary p-2 rounded-pill">Locanim<i class="bi bi-chat-heart-fill text-white"></i></h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto ">
                {% if app.user %}
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="{{ path('app_animal_mine') }}"><i class="bi bi-card-checklist"></i>Mes animaux</a>
                    </li>

                    <li class="nav-item ">
                        <a class="nav-link text-white" href="{{ path('app_schedule_rental_owner') }}"><i class="bi bi-calendar3"></i> Mon carnet de réservation</a>
                    </li>

                    <li class="nav-item">
                        <p class ="text-white">|||||||||||||||||</p>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_schedule_rental_customer') }}#"><i class="bi bi-people"></i> Mes demandes de réservation</a>
                    </li>

                    <div class="btn-group">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

                            <img src ="https://picsum.photos/id/236/30/30" class="rounded-circle"/>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li class="dropdown-item fst-italic text-uppercase">{{ app.user.firstName }} {{ app.user.lastName }}</li>
                            <li><a class="dropdown-item" href="">Mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a></li>
                        </ul>
                    </div>

                {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="{{ path('app_login') }}">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link text-white ">|</p>
                    </li>
                    <li class="nav-item text-white">
                        <a class="nav-link text-white" href="">S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>