{% extends 'base.html.twig' %}

{% block title %}Editer les disponibilités{% endblock %}

{% block body %}
    <div class="container">
        <h1 class ="text-center"><i class="bi bi-gear me-2"></i>Editer les disponibilités</h1>
        <h4 class = "text-warning text-center"> Pensez à bien mettre à jour les disponibilités en fonctions des réservations effectuées.</h4>
    <div class="m-2">
        <a href="{{ path('app_animal_availablities_add', {'id':animal.id })}}" type="button" class="btn btn-outline-primary mx-5">
                <i class="bi bi-plus-circle-fill mx-2"></i> Ajouter une disponibilité</a>
    </div>

    {{ form_start(form) }}
    {% for availablity in form.availablities %}

        <div class="container text-center col-lg-8 bg-secondary mt-2 rounded-4">
           <div class="d-flex justify-content-center p-3">
                <div class="col-3 me-3 text-dark p-2 text-white fw-bold">
                    {{ form_row(availablity.startedAt, {
                    }) }}
                </div>
                <div class="col-3 text-dark p-2 text-white fw-bold">
                    {{ form_row(availablity.endedAt, {
                    }) }}
                </div>
               <div class="col-3 text-dark p-2 text-white fw-bold">
                   {{ form_row(availablity.dailyPrice, {
                   }) }}
               </div>
               <div class="bg-opacity-50 rounded-3 text-white h-25 p-1"><a href ="{{ path('app_availablity_delete',{'id':availablity.vars.value.id})}}">supprimer</a>

               </div>
            </div>
        </div>
    {% endfor %}
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-3 col-3"><i class="bi bi-check-lg me-2"></i><span>envoyer</span></button>
    </div>
    {{ form_end(form) }}


    <a href=" {{ path('app_animal_show', {id: animal.id }) }} ">
        <i class="bi bi-arrow-return-left me-2"></i><span>Retour à la fiche animal</span>
    </a>
    </div>

{% endblock %}