{% extends 'base.html.twig' %}

{% block title %}Animal{% endblock %}

{% block body %}

<div class="container-fluid flex ">

    <div class ="row mx-2">
        <h1 class="text-secondary border-bottom border-secondary"><i class="bi bi-chat-heart-fill text-secondary me-2"></i>
            Coucou, c'est moi {{ animal.name }}</h1>
        <div class="animal col-lg-7 ms-lg-2   ">
            <div class="row me-lg-4">
                <div class="row">
                    <div class="col">
                        <img class ="img-fluid h-100" src="{{ vich_uploader_asset(animal) }}" alt="{{ animal.name }}">
                    </div>
                    <div class="col">
                        <ul>
                            <li class="list-unstyled fs-4"><i class="bi bi-arrow-right-circle-fill me-2 fs-6 "></i>J'ai {{ animal.age }} ans</li>
                            <li class="list-unstyled fs-4"><i class="bi bi-arrow-right-circle-fill me-2 fs-6"></i>Je suis de la race {{ animal.breed }}</li>
                            <li class="list-unstyled fs-5 bg-info bg-opacity-10 lead p-2 mt-5 rounded-2"><i class="bi bi-chat-left-text me-2 fs-2"></i>"{{ animal.description }}"</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row"><h3 class="text-secondary mt-2"><i class="bi bi-person-hearts me-2"></i>Mon maître </h3></div>
            <div class="row">
                <div class="card h-100 bg-light col-lg-6 pt-2">
                    <div class="card-header bg-primary text-white border-dark ">
                        <h5 class="card-title">{{ animal.owner.firstName }} {{ animal.owner.lastName }}</h5>
                    </div>
                    <div class="card-body bg-transparent text-primary"><i class="bi bi-postcard"></i>
                        {{ animal.owner.address }} - {{ animal.owner.zipCode }} {{ animal.owner.city }}
                    </div>
                    <div class="card-footer bg-transparent border-dark"><i class="bi bi-telephone"></i>
                        {{ animal.owner.phoneNumber }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4" >
            <div class="availablity text-white rounded-4 ">
                <div class="bg-secondary shadow p-2 rounded-2">
                    <h3><i class="bi bi-calendar2-week-fill text-white me-2"></i> Disponibilités</h3>
                    <ul class="list-group pt-3">
                    {% for availablity in animal.availablities %}
                    {% if availablity.startedAt|date('Y-m-d') > "now"|date('Y-m-d')
                        or availablity.endedAt|date('Y-m-d') > "now"|date('Y-m-d') %}
                    <li class="list-group-item bg-white"> <i class="bi bi-calendar2-week-fill text-dark me-2"></i>
                    Du {{ availablity.startedAt|date('d/m/Y') }} au {{ availablity.endedAt|date('d/m/Y') }}
                    - <i class="bi bi-tags text-dark me-2"></i><span class="bg-success text-white p-1 rounded-2"> {{ availablity.dailyPrice }} €/Jour</span></li>
                    {% endif %}
                    {% else %}
                   <li class="list-group-item bg-white">pas encore de disponibilités</li>
                    {% endfor %}
                    </ul>
                </div>
                {% if app.user%}
                {% if app.user!=animal.owner %}
                    {% if animal.availablities %}
                        <div class="m-3">
                            <a href="{{ path('app_schedule_rental_new', {'animalId': animal.id}) }}" type="button" class="btn btn-outline-primary mx-auto">
                            <i class="bi bi-plus-circle-fill mx-2"></i><span>Faire une réservation</span></a>
                        </div>
                        {% endif %}
                        {% endif %}
                        {% else %}
                    <div class="m-3">
                        <a href="{{ path('app_login') }}" type="button" class="btn bg-info text-white mx-auto">
                            <i class="bi bi-box-arrow-in-right me-2"></i><span>Faire une réservation ? Connectez-vous </span></a>
                    </div>
                {% endif %}
            </div>
            <div class="mt-2">
                {% if app.user%}
                    {% if app.user == animal.owner %}

                            <a class="btn btn-secondary text-white m-1" href="{{ path('app_animal_availablities_add', {'id': animal.id}) }}" role="button">
                                <i class="bi bi-plus-circle-fill me-2"></i>Ajouter une disponibilité</a>
                        <a class="btn btn-secondary text-white m-1" href="{{ path('app_animal_availablities_edit', {'id': animal.id}) }}" role="button">
                            <i class="bi bi-pencil-square me-2"></i>Modifier la liste des disponibilités</a>


                    {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
    <div class="mt-5">
    {% if app.user%}
    {% if app.user == animal.owner %}
        <a class=" btn btn-outline-primary m-1" href="{{ path('app_animal_mine') }}" role="button">
            <i class="bi bi-backspace-reverse me-2"></i>Retour à la liste</a>

        <a class=" btn btn-outline-primary m-1" href="{{ path('app_animal_edit', {'id': animal.id}) }}"role="button">
            <i class="bi bi-pencil-square me-2"></i>Modifier la fiche</a>
    <div class="mb-4">{{ include('animal/_delete_form.html.twig') }}</div>
    {% endif %}
    {% else %}
        <a href="{{ path('app_home') }}"><i class="bi bi-backspace-reverse me-2"></i>Retour à la liste</a>
    {% endif %}
    </div>

</div>

{% endblock %}
