{% extends 'base.html.twig' %}

{% block title %}Mon carnet de réservation{% endblock %}

{% block body %}
    <div class="container">
        <h1 class ="text-center">Mon carnet de réservation</h1>

        <div class="m-2"><a href="{{ path('app_animal_new') }}" type="button" class="btn btn-outline-primary mx-5">
                <i class="bi bi-plus-circle-fill mx-2"></i><span>Ajouter une annonce </span></a>
        </div>


        <div class="row custom-line">
            {% if scheduleRentals %}
                {% for scheduleRental in scheduleRentals %}
                    <div class="col-sm-10 col-md-6 col-lg-4 mt-4 mb-4 ">
                        <div class="card h-100 px-3">
                            <div class="card-header bg-transparent border-dark text-secondary">
                                <h2 class="card-title"><i class="bi bi-chat-heart-fill text-secondary me-2"></i>
                                    {{ scheduleRental.animal.name }}</h2>
                            </div>
                            <div class="card-header bg-transparent border-dark text-secondary">
                                <h4 class="card-title"><i class="bi bi-calendar2-week-fill text-secondary me-2"></i>
                                    Du {{ scheduleRental.startedAt|date('d/m/Y')}}
                                    au {{ scheduleRental.endedAt|date('d/m/Y')}}
                                    <div><i class="bi bi-tags text-secondary me-2"></i>{{  scheduleRental.billAmount}} €</div>
                                </h4>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-primary">
                                    <i class="bi bi-person me-2"></i></i>Client <br/>
                                    {{ scheduleRental.customer.firstName }} {{ scheduleRental.customer.lastName }} </h5>
                                <ul class="list-unstyled">
                                    <li><i class="bi bi-postcard me-2"></i>{{ scheduleRental.customer.address}}</li>
                                    <li>{{ scheduleRental.customer.zipCode }} {{ scheduleRental.customer.city }}</li>
                                    <li><i class="bi bi-telephone me-2"></i>{{ scheduleRental.customer.phoneNumber }}</li>

                                </ul>
                            </div>
                            <div class="card-footer bg-transparent border-dark">
                                <h5 class="card-title text-primary">Statut :
                                    <span class="bg-info text-white rounded-2 p-1">{{ scheduleRental.status }} </span></h5>
                                <br><a href="{{ path('app_schedule_validation_show', {id: scheduleRental.id }) }}"
                                       class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>Aucune réservation ! Ajoutez des dates de disponibilités</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
