{% extends 'base.html.twig' %}

{% block title %}ScheduleRental{% endblock %}

{% block body %}
    <h1>ScheduleRental</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ schedule_rental.id }}</td>
        </tr>
        <tr>
            <th>StartedAt</th>
            <td>{{ schedule_rental.startedAt ? schedule_rental.startedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>EndedAt</th>
            <td>{{ schedule_rental.endedAt ? schedule_rental.endedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>BillAmount</th>
            <td>{{ schedule_rental.billAmount }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ schedule_rental.status }}</td>
        </tr>
        </tbody>
    </table>

    {{ include('schedule_rental/_validation_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_schedule_rental_owner') }}">back to list</a>

    <a href="{{ path('app_schedule_rental_edit', {'id': schedule_rental.id}) }}">edit</a>

    {{ include('schedule_rental/_delete_form.html.twig') }}
{% endblock %}
