{% extends 'base.html.twig' %}

{% block title %}ScheduleRental{% endblock %}

{% block body %}
<div class="container flex text-center">

    <div class="availablity col-lg-4 text-white rounded-4 mx-auto ">
        <div class="bg-secondary shadow p-2 rounded-2">
            <h1><i class="bi bi-calendar2-week-fill text-white me-2"></i> Réservation</h1>
            <ul class="list-group pt-3">
                <li class="list-group-item bg-white"> <i class="bi bi-calendar2-week-fill text-dark me-2"></i>
                    Du {{ schedule_rental.startedAt ? schedule_rental.startedAt|date('d/m/Y') : '' }} au
                    {{ schedule_rental.endedAt ? schedule_rental.endedAt|date('d/m/Y') : '' }}
                </li>
                <li class="list-group-item bg-white"> <i class="bi bi-tags text-primary me-2"></i>
                    {{ schedule_rental.billAmount }} €
                </li>
                <li class="list-group-item bg-white"> <i class="bi bi-calendar2-week-fill text-dark me-2"></i>
                    {{ schedule_rental.status }}
                </li>

<li class="list-group-item bg-white">
    Modifier le statut {{ include('schedule_rental/_validation_form.html.twig', {'button_label': 'Mettre à jour'}) }}
</li>
            </ul>

    <a href="{{ path('app_schedule_rental_owner') }}">retour aux réservations</a>
        </div>
    </div>

    </div>
{% endblock %}
