{% extends 'base.html.twig' %}

{% block title %}Disponibilité{% endblock %}

{% block body %}
    <div class="container flex mx-auto">
        <div class="availablity col-lg-4 text-white rounded-4 flex mx-auto ">
            <div class="bg-secondary shadow p-2 rounded-2">
                <h3><i class="bi bi-calendar2-week-fill text-white me-2"></i> Disponibilité</h3>
                <ul class="list-group pt-3">
                    <li class="list-group-item bg-white"> <i class="bi bi-calendar2-week-fill text-dark me-2"></i>
                        Du {{ availablity.startedAt ? availablity.startedAt|date('d/m/Y') : '' }}
                        au {{ availablity.startedAt ? availablity.startedAt|date('d/m/Y') : '' }}
                    </li>
                    <li class="list-group-item bg-white"> <i class="bi bi-calendar2-week-fill text-dark me-2"></i>
                        <i class="bi bi-tags text-primary"></i> {{ availablity.endedAt ? availablity.endedAt|date('d/m/Y') : '' }} €/j
                    </li>

                </ul>
            </div>
        </div>

    {{ include('availablity/_delete_form.html.twig') }}
<div class=" text-center">
    <a href="{{ path('app_animal_availablities_edit', {id: availablity.animal.id}) }}">Retour aux disponibilités</a>
</div>
    </div>

{% endblock %}
